@import 'bootstrap';

@border-radius-base: 0;

html, body {
  background: #41092e;
}

.canvas-viewer {
  width: 100%;
  height: 40vh;
  //width: 800px;
  //height: 600px;
}

small {
  color: white;
}

.slider-container {
  padding-left: 20px;
  padding-right: 20px;
}